{% extends 'base.html' %}

{% block head %} 
<title>StockTrack</title>
{% endblock %}
{% block body %}
{% if current_user.is_anonymous %}
<a href="/login">Login</a>
{% else %}
<a href="/logout">Logout</a>
{% endif %}
<a href="/register">Register</a>
<span style="text-align: center;">{{current_user.username}}</span>
<a href="/delete-account/{{current_user.id}}" style="float: right;">Delete Account</a>
<div class="content">
    <h1>hello kiddies</h1>
    <h1>StockTrack</h1>
    <table>
    {% if portfolio | length > 0 %}
        <tr>
            <th>Stock</th>
            <th>Shares</th>
            <th>Average Cost</th>
            <th>Total Invested</th>
            <th>Current Price</th>
            <th>Unrealized Gain</th>
            <th>Percentage Gain</th>
            <th>Actions</th>
        </tr>
    {% endif %}
    {% for stock in portfolio %}
        <tr>
            <td>{{stock.ticker}}</td>
            <td>{{"%.8g"|format(stock.shares_owned)}}</td>
            <td>{{"%.2f"|format(stock.average_cost)}}</td>
            <td>${{"%.2f"|format(stock.total_invested)}}</td>
            <td>${{"%.2f"|format(current_prices.get(stock.ticker))}}</td>
            <td>${{"%.2f"|format(stock.unrealized_gain)}}</td>
            <td>{{"%.2f"|format(stock.potential_gain_percent)}}%</td>

            <td>
                <a href="/delete/{{stock.id}}">Delete</a>
                <br/>
                <a href="/update/{{stock.id}}">Add Transaction</a>
                <br/>
                <a href="/info/{{stock.id}}">Info</a>
            </td>
        </tr>
    {% endfor %}
    </table>

    <table>
        <tr><th></th><h3>Add New Stock</h3></th><tr>
        <form action="/" method="POST">
            <tr>
                <td> <label for="stock">Ticker:</label> <br> <input type="text" name="stock" id="stock" required/> </td>
                <td> <label for="shares">Shares:</label> <br> <input type="number" step="any" name="shares" id="shares" placeholder="0.00" required/> </td>
                <td> <label for="price">Price:</label> <br> <input type="number" step="any" name="price" id="price" placeholder="0.00" required/> </td>
                <td> <label for="date">Transaction Date:</label> <br> <input type="datetime-local" name="date" id="date_bought" required/> </td>
                <td> <input type="submit" value="Add Transaction" id="button_add" /> </td>
            </tr>
        </form>
    </table>
</div>
{% endblock %}