{% extends 'base.html' %}

{% block head %} 
<title>StockTrack</title>
{% endblock %}
{% block body %}
    <div class="content">
            <h1>Edit Stock</h1>
            <form action="/update/{{stock.id}}" method="POST">
            <table>
                <tr>
                    <th>Ticker</th>
                    <th>Initial Value</th>
                    <th>Current Value</th>
                    <th>Submit</th>
                </tr>
                <tr>
                    <!--Stock Name Edit-->
                    <td>
                    <input type="text" name="stock_ticker" id="stock_name" value="{{stock.ticker}}"/>
                    </td>

                    <!--Initial Value Edit-->
                    <td>
                    <input type="number" name="stock_initial" id="stock_initial" value="{{stock.initial}}"/>
                    </td>

                    <!--Current Value Edit-->
                    <td>
                    <input type="number" name="stock_current" id="stock_current" value="{{stock.current}}"/>
                    </td>
                
                    <!--Date Added Edit-->
        <!-- 
                    <input type="text" name="date_added" id="date_added" value="{{stock.date_added}}"/> -->
                    <td>
                    <input type="submit" value="Update Stock" id="button_edit" />
                    </td>
                </tr>
            </table>
            </form>
        </div>
{% endblock %}