{% extends 'base.html' %}

{% block head %} 
<title>StockTrack</title>
{% endblock %}
{% block body %}
    <div class="content">
            <h1>Edit Stock</h1>
            <form action="/update/{{stock.id}}" method="POST">
            <table>
                <tr>
                    <th>Type</th>
                    <th>Share Amount</th>
                    <th>Price per Share</th>
                    <th>Date</th>
                    <th>Submit</th>
                </tr>
                <tr>
                    <!--Type-->
                    <td>
                    <input type="text" name="transaction_type" id="transaction_type" placeholder="BUY or SELL"/>
                    </td>

                    <!--Share Amount-->
                    <td>
                    <input type="number" step="any" name="shares" id="shares" placeholder="0.00"/>
                    </td>

                    <!--Shares Owned-->
                    <td>
                    <input type="number" step="any" name="price_per_share" id="price_per_share" placeholder="0.00"/>
                    </td>

                    <!--Date Bought-->
                    <td>
                    <input type="datetime-local" step="any" name="date_bought" id="date_bought"/>
                    </td>
                
                    <!--Date Bought Edit-->
        <!-- 
                    <input type="text" name="date_bought" id="date_bought" value="{{stock.date_bought}}"/> -->
                    <td>
                    <input type="submit" value="Add Transaction" id="button_edit" />
                    </td>
                </tr>
            </table>
            </form>
            <a href="/">Back</a>
        </div>
{% endblock %}